.cardWrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 412px;
    height: 443px;
    background-image: url("/bg/5.png");
    bottom: -120px;
    right: -225px;
    mix-blend-mode: lighten;
    background-size: 70%;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 472px;
    background-image: url("/bg/4.png");
    top: 175px;
    left: -115px;
    mix-blend-mode: lighten;
    background-size: 70%;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
  }
}

.card {
  width: 300px;
  background: rgba(25, 26, 29, 0.5);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;
  transition: 0.2s margin ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .head {
    width: 270px;
    height: 270px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/icons/flagUA.svg");
    padding: 5px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: 0.1s all ease-in-out;
    z-index: 10;

    .noise {
      width: 260px;
      height: 260px;
      top: 5px;
      left: 5px;
      position: absolute;
      background-image: url("/images/grain.png");
      border-radius: 50%;
      background-repeat: repeat;
      opacity: 0.6;
      background-size: 15%;
      z-index: 100;
    }

    // &::before {
    //   content: "";
    //   width: 260px;
    //   height: 260px;
    //   top: 5px;
    //   left: 5px;
    //   position: absolute;
    //   background-image: url("/images/grain.png");
    //   border-radius: 50%;
    //   background-repeat: repeat;
    //   opacity: 0.3;
    //   background-size: 15%;
    // }

    .profileImageWrapper {
      width: 260px;
      height: 260px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      .profileShadow {
        position: absolute;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        z-index: 100;
      }

      .profileImage {
        width: 260px;
        height: 260px;
        border-radius: 50%;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/profileDefaultImage.png");
      }
    }
  }

  .fileError {
    color: #777;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .uploadBtn {
      width: 100%;
      cursor: pointer;
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      color: #626265;
      background: #202124;
      border: 0.6px solid #2d2d2d;
      border-radius: 10px;
      padding: 6px 0;
    }

    .downloadBtn {
      width: 100%;
      text-decoration: none;
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      border-radius: 10px;
      padding: 6px 0;
      color: #fff;
      background: #2b99ff;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    .settings {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .settingsItem {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .settingsTitle {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #626265;
        }

        .settingsWrapper {
          display: flex;
          width: 155px;
          gap: 5px;

          .settingsBtn {
            width: 100%;
            display: block;
            background: #202124;
            border-radius: 10px;
            border: none;
            padding: 6px 0;
            color: #626265;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            cursor: pointer;
            transition: 0.1s all ease-in-out;
          }

          .scaleSlider {
            width: 100%;
            height: 30px;
          }

          .scaleValue {
            width: 57px;
            background: #202124;
            border-radius: 10px;
            border: none;
            padding: 6px 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #626265;
            white-space: nowrap;
          }

          .switch {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            background: #202124;
            border-radius: 10px;
            padding: 5px 10px;
            gap: 10px;

            .flagBtn {
              border-radius: 4px;
              cursor: pointer;

              width: 100%;
            }

            .flagBtnGradient {
              width: 26px;
              height: 20px;
              border-radius: 4px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .image {
    max-width: 200px;
    max-height: 200px;

    .originalImage {
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: red;
      }
    }
  }
}
