.editor {
  .image {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid red;
    .originalImage {
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: red;
      }
    }
  }
}
