.about {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #fff;
  align-self: flex-start;
  max-width: 400px;

  @media (max-width: 800px) {
    display: none;
  }

  .title {
    font-family: "Gilroy", sans-serif;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
  }

  .description {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;

    color: #828282;
  }
}
